<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>mu Documentation - {{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ static }}/css/fonts.css"
  <link rel="stylesheet" href="{{ static }}/css/normalize.css">
  <link rel="stylesheet" href="{{ static }}/css/skeleton.css">
  <link rel="stylesheet" href="{{ static }}/css/mu-docs.css">
  <link rel="stylesheet" href="{{ static }}/css/hljs-zenburn.css">
  <link rel="icon" type="image/png" href="{{ static }}/image/favicon.png">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
	{{ content }}
      </div>
    </div>
  </div>
</body>
<script src="{{ static }}/js/hljs.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</html>
